{% extends 'base.html'%}
{% load static %}
{% block content %}
<body>
<!-- preloader -->
<div class="preloader">
    <div class="loading-text">
      <span>L</span>
      <span>O</span>
      <span>A</span>
      <span>D</span>
      <span>I</span>
      <span>N</span>
      <span>G</span>
    </div> 
</div>
<!-- preloader end -->
<!-- header -->
<header id="stickyHeader">
  <div class="container">
    <div class="top-bar">
      <div class="logo">
        <a href="#">
          <img alt="logo" src="{% static 'assets/img/logo.png' %}">

        </a>
      </div>
      <nav class="navbar">
          <ul class="navbar-links">
            {% comment %} <li class="navbar-dropdown menu-item-children">
              <a href="#">Demo Pages</a>
              <ul class="sub-menu">
                <li><a href="index.html">Demo 1</a></li>
                <li><a href="index-2.html">Demo 2</a></li>
                <li><a href="index-3.html">Demo 3</a></li>
                <li><a href="index-4.html">Demo 4</a></li>
              </ul>
            </li>  {% endcomment %}
            <li class="navbar-dropdown">
              <a href="#about"> About </a>
            </li>
            <li class="navbar-dropdown">
              <a href="#services">Services</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#team">Team</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#pricing">Pricing</a>
            </li>
            <li class="navbar-dropdown">
              <a href="#blog">blog</a>
            </li>
          </ul>
        </nav>
      <a href="callto:+12344502086"><i class="flaticon-smart-phone"></i><b> +1234 450 2086</b></a>
    </div>
  </div>
</header>
<!-- header end -->
<!-- style="background-image: url(assets/img/line-img.jpg);" -->

<section class="hero-section" >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-text sec-title-animation animation-style2">
            <span class="title-animation">The best ways to </span>
            <h2 class="title-animation">Comming soon</h2>
           
          </div>
         
        </div>
        
      </div>
    </div>
   
  </section> 



  
 





</body>
{% endblock %}
